<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['app']">SC</a>
    <form class="form-inline">
      <button *ngIf="!isLoggedIn" class="btn btn-outline-primary" (click)="open(content)"> {{ isLoggedIn == true ? 'Logout' : 'Login' }}
      </button>

      <a *ngIf="!isLoggedIn" [routerLink]="['app/signup']"> SignUp
      </a>

      <div *ngIf="isLoggedIn" class="dropdown">
        <a id="showUsername" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" href="#">{{username}}

        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['app']">Home</a>
          <a class="dropdown-item" [routerLink]="['app/profile']">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"  [routerLink]="['app/addRoba']">Dodaj oglas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="open(content)">Log out</a>
        </div>
      </div>

    </form>
  </div>
</nav>

